<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../node_modules/angular/angular.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/now-ui-kit.css">
    <title>Document</title>
</head>

<body ng-app="paginaDeExcecao" ng-controller="ctrl">
    <div class="container">
        <form action="" method="POST" role="form">
            <legend>Form title</legend>
            <div id="palavras"></div>
            <button type="submit" class="btn btn-primary">Submit</button>

            <div class="row">
                <ul>{{acertos}}
                    <!-- https://docs.angularjs.org/error/ngRepeat/dupes -->
                    <li ng-repeat="p in palavras track by $index">{{p}}
                        
                        <input ng-blur="validate(p, $event)" type="text" name="" id="input1/(\w+)/\u\1/g" class="form-control" value="" pattern="" title="">
                        
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove($index)"></span>
                    </li>
                </ul>
            </div>
        </form>

    </div>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/excecao.js"></script>

</html>